.sidebarChannel {
display: flex;
padding-left: 15px;

align-items: center;
background-color: #bac3d4;
color: black;
cursor: pointer;
}
.sidebarChannel:hover > h4 {
color: white;
}

.sidebarChannel_hash {
font-size: 30px;
padding: 8px;
}